/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6; /* Ajusta el interlineado para un mejor espaciado */
}

/* Barra de navegación */
.navbar {
    margin-bottom: 0; /* Asegura que la barra de navegación esté pegada al contenido */
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-link {
    margin-right: 15px;
}

/* Estilo para el header (sección hero) */
.hero {
    height: 80vh; /* Ajusta la altura del header */
    background: url('assets/img/hero-background.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejorar legibilidad */
    padding: 20px;
    border-radius: 10px;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    border: 3px solid #fff;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilos para las secciones */
.carousel-item img {
    width: 100%; /* Ajusta al ancho del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área del carrusel */
}

.carousel-inner {
    width: 100%; /* Ajusta esto si necesitas un tamaño específico */
    max-width: 450px; /* Tamaño máximo del carrusel, ajusta según tu diseño */
    margin: auto; /* Centra el carrusel horizontalmente */
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #007bff; /* Color de los controles */
    border-radius: 50%;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    padding: 15px; /* Reducción del relleno */
    text-align: center;
}

footer a {
    color: #007bff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
