/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Sección Principal */
.main-section {
    width: 100%;
    height: 400px;
    background: url('../img/background3.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay h1,
.overlay h2 {
    color: #fff;
    margin: 0.1em 0;    
}

.overlay h1 {
    font-size: 2.5em;
}

.overlay h2 {
    font-size: 1.5em;
}


/* Sección de Productos */
.products-section {
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

.products-section td {
    padding: 20px;
}

.product {
    position: relative;
    display: inline-block;
}

.product img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid orange;
    border-radius: 30%;
}

.product .product-image-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid orange;
    border-radius: 30%;
}

.product:hover .product-image-hover {
    display: block;
}

.product:hover .product-image {
    display: none;
}

.products-section p {
    margin-top: 10px;
    font-size: 1.2em;
}

/* Sección Footer */
.footer-section {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.footer-images {
    margin-top: 10px;
}

.footer-images img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 0 10px;
}

.footer-images img {
    width: 20px;  /* Ajusta el tamaño de las imágenes */
    height: 20px; /* Ajusta el tamaño de las imágenes */
    object-fit: cover;
    margin: 0 10px;
    border: 2px solid #333; /* Agregar borde a las imágenes del footer */
}
